.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #eee;
}

.dropdown:hover .dropdown-content {
  display: block;
}