@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(0, 0, 0);
  --background-start-color: #f3f4f6;
  --background-end-color: #ffffff;
  --primary-color: #4f46e5;
  --hover-color: #6b63ff;
  --title-hover-color: #f3f87a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: rgb(255, 255, 255);
    --background-start-color: #111827;
    --background-end-color: #1f2937;
    --primary-color: #7c3aed;
    --hover-color: #9561e2;
    --title-hover-color: #f3f87a;
  }
}
.reader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    overflow-x: hidden;
}

.upload-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #0056b3;
}

.upload-label input[type='file'] {
    display: none;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}

.pdf-container {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.pdf-container p {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.continuous-pages-container {
    display: flex;
    justify-content: flex-start;
}

.pdf-page {
    width: 100%;
    min-width: 720px;
    min-height: 1200px;
}